include gcamreader/ModelInterface/*
include gcamreader/ModelInterface/jars/*
include gcamreader/tests/data/comp_outputs/*.csv
include gcamreader/tests/data/queries/*.xml
include gcamreader/tests/data/sample_basexdb/*.basex
